main {
    display: inline-block;
    width: 100%;

}
    main input {
        display: inline-block;
        width: calc(50% - 20px);
        float: left;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;

    }
        input::placeholder {
            color: grey;
        }
.hero form > input {
    display: inline-block;
    width: 80%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}
    ::placeholder {
        color: #fff;
        font-size: 15px;
        }

        main input:nth-child(2) {
            margin-left: 40px;
        }
    main textarea {
        display: inline-block;
        width: 100%;
        resize: vertical;
        min-height: 100px;
        max-height: 300px;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 60px;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;

    }
        textarea::placeholder {
            color: grey;
            font-style: italic;
        }

@media (max-width: 600px) {
    main input {
        width: 100%;
    }
    main input:nth-child(2) {
        margin-left: 0;
        }
}