.mouse {
    display: inline-block;
    width: 100px;
    height: 160px;
    border: 10px solid #fff;
    border-radius: 45px;
}
    .mouse > .whell {
        display: inline-block;
        width: 10px;
        height: 20px;
        background-color: #fff;
        margin-top: 30px;
        border-radius: 5px;

        animation-name: scroll;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    .mouse > .whell:hover {
        animation-play-state: paused;
    }

    @keyframes scroll {
        0% {
            margin-top: 30px;
            opacity: 1;
        }
        100% {
            margin-top: 90px;
            opacity: 0;
        }
    }